
*{
    
    padding: 0;
    margin: 0;
}

body{
    background-color:#A6A6A6;
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: aliceblue;
}

/* Header section */ 

header{
    background-color: black;
    box-shadow: 0px 6px 4px rgb(87, 86, 86);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    position:fixed;
    align-items: center;
}

header #toggler{
    display: none;
}


.menu li{
display: inline-block ;
}

header .fa-bars{
    font-size: 2rem;
    color:#ffff;
    border-radius: 0.5rem;
    padding: .5rem 0rem;
    cursor: pointer;
    display: none;
}

.menu a{
margin-left: 10px;
margin-right: 90px;
}


#logo{
 font-size: 2rem;
 display: block;
}
.home:hover{
color: brown;
}
.produtos:hover{
color: brown;
}
.historia:hover{
color: brown;
}
    
    
.bem_vindo{
    font-size: 40px;
    padding-left: 120px;
    padding-top: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.comecar{
    color: white;
   background: brown;
    transition: background 1s;
    color: aliceblue;
    margin-left: 170px;
    border-radius: 7px;
    height: 30px;
    width: 120px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.comecar:hover,
.comecar:focus {
  background: rgb(71, 42, 42);
}

/* Home section */ 



@keyframes bounce {
    0%, 25%, 50%, 75%, 90%, 100% {
    transform: translateY(0); }
    15%,40% {
    transform: translateY(-20px); }
    65% ,80% {
    transform: translateY(-15px); }
    95% {
    transform: translateY(-5px); } }
    button:hover {
    animation: bounce 2s linear; }

.floatwpp{
    font-size: 50px;
    border-radius: 50%;
    background-color: #25D366;
    color:#ffffff;
    width: 80px;
    padding: 0px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    border:none;
    outline:none;
    right: 40px; 
    animation: bounce 2.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  
  }
  
  .floatwpp i{
    color: #f3f7f0 !important;
  }
  

#home{
    display: flex;
    align-items: center;
    height: 650px !important;
    width: auto;
    background: url(./img/book.png) no-repeat;
    background-size: 90% auto;
    background-position: 100px 100px;
}


/* Products */
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.products .box-container .box{
   flex: 1 1 10rem;
   box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
   border-radius: .5rem;
   border: .1rem solid rgba(0,0,0,.1);
   position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top:1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color:rgb(71, 42, 42);
    background-color: red;
    position: inherit;
    z-index: 0;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position:relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
}
.products .box-container .box .image:hover img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:0; left: 0; right: 0;
    display: flex;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height:  5rem;
    font-size: 2rem;
    width: 50%;
    background-color: rgb(71, 42, 42);
    color: #ffff;
}

.products .box-container .box .image .icons a:hover{
    background-color: #333;
}
.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.heading{
    text-align: center;
    font-size: 30px;
    margin-top:3rem;
    margin-bottom: 3rem;
}
/* Media queries*/

@media (max-width:991px){
    html{
      font-size:55%;
    }

    header{
        padding: 2rem;
    }
}


@media (max-width:768px){
    html .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top:100%; right:0; left:0;
        background:rgb(87, 86, 86);
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    header #toggler:checked~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .menu li{
        margin: 1.5rem;
        padding:1.5rem;
        background: #A6A6A6;
        width: 100%;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}



